* {
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 240, 232);
}

.upper {
    display: flex;

}

.right {
    flex: 80%;
}

.middle {
    display: flex;
}

.section_1 {
    background-color: rgb(223, 240, 232);
    padding: 20px;
    text-align: center;
    flex: 20%;
}

.section_2 {
    background-color: rgb(183, 219, 202);
    padding: 20px;
    display: flex;
}

.sec_2_text {
    flex: 3;
    margin: auto;
    text-align: center;
}

.section_3 {
    background-color: rgb(126, 156, 175);
    padding: 15px;
    border-radius: 15px;
    text-align: right;
}

.section_4 {
    background-color: rgb(223, 240, 232);
    padding: 20px;
    flex: 25%;
    order: 2;
}

.section_5 {
    background-color: rgb(249, 252, 250);
    padding: 20px;
    flex: 75%;
    order: 1;
}

.sec_5_text {
    margin-top: 50px;
}

.section_6 {
    background-color: rgb(223, 240, 232);
    padding: 20px;
    border-top: 2px solid black;
    display: flex;
}

.sec_6_text {
    margin: auto 0px auto auto;
    text-align: right;
    flex: 3;
}

.sec_6_text li {
    display: inline-block;
    padding: 30px 50px 30px 50px;
}

.mark_x {
    background-color: rgb(222, 231, 237);
    border: 2px solid rgb(126, 156, 175);
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    flex: 1;
    max-width: fit-content;
}

.mark_y {
    background-color: rgb(248, 250, 252);
    border: 2px solid rgb(180, 199, 212);
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    flex: 1;
    margin: auto;
    max-width: fit-content;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(66, 93, 134);
    text-decoration: underline;
}

a:active {
    color: rgb(66, 93, 134);
    text-decoration: underline;
}

#header_text {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#standart_text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#mark_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}